<h1>Criando Tasks</h1>
<form action="/tasks/add" method="POST" class="form">
  <div class="form-control">
    <label for="title" class="labels">Título:</label>
    <input type="text" name="title" placeholder="O que você vai fazer?" class="texto">
  </div>
  <div class="form-control">
    <label for="description" class="labels">Descrição:</label>
    <textarea type="text" name="description" placeholder="O que você vai fazer?" class="texto"></textarea>
  </div>
  <input type="submit" value="Criar" class="button">
</form>